* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.image {
  background-image: url("blooddonation.jpg");
  background-size: cover;
  border-radius: 10px;
  margin-left: 10%;
  height: 380px;
  width: 600px;
}
